<section class="signup-form">
    <!-- main axis, cross axis #means Local reference-->
    <form fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" #f="ngForm" (ngSubmit)="onSubmit(f)">
        <mat-form-field>
            <input type="email" matInput placeholder="Your email" ngModel name="email" email required
                #emailInput="ngModel">
            <!-- required validator error -->
            <mat-error *ngIf="emailInput.hasError('required')">Field must not be empty.</mat-error>
            <!-- Email field is invalid still somehow -->
            <mat-error *ngIf="!emailInput.hasError('required')">Email is invalid.</mat-error>
        </mat-form-field>
        <mat-form-field hintLabel="Should be at least 6 characters long.">
            <input type="password" matInput placeholder="Your password" ngModel name="password" required minlength="6"
                #pwInput="ngModel">
            <!-- #pwInput. USERS password input-->
            <!-- ? means that if value is null we dont get error -->
            <mat-hint align="end"> {{ pwInput.value?.length }} / 6</mat-hint>
        </mat-form-field>
        <mat-form-field>
            <!-- max date that can be picked (have to be 18y old) -->
            <input matInput placeholder="Your birth date" [matDatepicker]="picker" [max]="maxDate" ngModel
                name="birthdate" required>
            <!-- matSuffix provides right type of styling -->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-checkbox ngModel name="agree" required labelPosition="before" color="primary">Agree terms and conditions
        </mat-checkbox>
        <button *ngIf="!isLoading" type="submit" mat-raised-button color="primary"
            [disabled]="f.invalid">Submit</button>
        <mat-spinner *ngIf="isLoading"></mat-spinner>
    </form>
</section>